{% extends "base.html.twig" %}

{% block contents %}
    <p>
        <a href="{{ path('app_home') }}">go to home page</a>
    </p>

    <br>
    <h5>{{ subheader }}</h5>
    <ul>
        <li>
            <p>New entities</p>
            <ol>
                <li>
                    <a href="{{ path('app_admin_new_usergroup') }}">Create new user group</a>
                </li>
                <li>
                    <a href="{{ path('app_admin_new_tasktype') }}">Create new task type</a>
                </li>
                <li>
                    <a href="{{ path('app_admin_new_task') }}">Create new task</a>
                </li>
                <li>
                    <a href="{{ path('app_admin_new_sprintstatus') }}">Create new sprint status</a>
                </li>
            </ol>
        </li>
        <li>
            <p>Bind entities</p>
            <ol>
                <li>
                    <a href="{{ path('app_admin_bind_task_and_user') }}">Bind task and user</a>
                </li>
            </ol>
        </li>
        <li>
            <p>Edit entities</p>
            <ol>
                <li>
                    <a href="{{ path('app_admin_edit_task') }}">Match tasks</a>
                </li>
            </ol>
        </li>
    </ul>
{% endblock %}