{% extends "base.html.twig" %}

{% block contents %}
    <p>
        <a href="{{ path('app_admin') }}">go to admin manager</a>
    </p>

    {{ form_start(form) }}
        {{ form_row(form.plainSprint) }}
        {{ form_row(form.plainTask) }}
        <input type="submit" value="bind together">
    {{ form_end(form) }}

    <br><br>
    <h5>Existing sprints with their tasks</h5>
    {% if sprints is empty %}
        <p>(empty set)</p>
    {% endif %}
    <ol>
        {% for sprint in sprints %}
            <li>{{ sprint.name }}</li>
            <ul>
                {% for task in sprint.tasks %}
                    <li>{{ task.description }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ol>
{% endblock %}