{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tasks.css') }}">
{% endblock %}

{% block contents %}
    <h4>{{ subheader }}</h4>
    <h6>{{ roleNote }}</h6>
    <br>
    <h5>Your tasks</h5>
    {% if tasks is empty %}
        <p>(empty set)</p>
    {% endif %}

    <ol>
    {% for task in tasks %}
        <li>
            {% if task.isDone %}
                <div class="doneTask">
            {% else %}
                <div>
            {% endif %}
            {{ task.description }}
            </div>
        </li>
    {% endfor %}
    </ol>

    <p>
        <a href="{{ path('app_admin') }}">go to admin page</a>
    </p>

    <p>
        <a href="{{ path('app_logout') }}">logout</a>
    </p>
{% endblock %}