{% extends "base.html.twig" %}

{% block contents %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="POST">
        <div>
            <input type="text" name="_username" value="{{ last_username }}" placeholder="username"/>
        </div>
        <div>
            <input type="password" id="password" name="_password" placeholder="password"/>
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>

    <p>
        <a href="{{ path('app_registration') }}">go to registration</a>
    </p>
    <p>
        <a href="{{ path('app_main') }}">go to main</a>
    </p>
{% endblock %}